@model ShopBridge.Models.ItemsModels

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItemsModels</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HSNCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HSNCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountsHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountsHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OEM1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OEM1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OEM2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OEM2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BinNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BinNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreRoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreRoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UOM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UOM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totalvalueofitem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totalvalueofitem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
